@model ToDoListApp.Models.TaskItem

<head>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>

<div class="container_wrapper">
    <div class="containeredOne">
        <h1 class="create-task">Create Task</h1>
        <form asp-action="Create" method="post">
            <div class="inputs">
                <div class="input">
                    @* <label class="input">Description</label> *@
                    <input asp-for="Description" placeholder="Task description" style="background-color: white;" />
                </div>
                <div>
                    @* <label>Due Date & Time</label> *@
                    <input type="datetime-local" asp-for="DueDate" class="form-control" />

                    @if (ViewData["DuplicateTask"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["DuplicateTask"]
                        </div>
                    }

                </div>
            </div>

            <button class="button" type="submit">Create</button>
        </form>
    </div>
</div>