@model ToDoListApp.Models.TaskItem


<head>
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<div class="container_wrapper">
<div class="containeredOne">
<h1>Delete Task</h1>

<h3>Are you sure you want to delete this task?</h3>
<div class="warn">
    <p><span>Task:</span> @Model.Description</p>
    <p><span>Due Date:</span> @Model.DueDate.ToString("d")</p>
    <p><span>Status:</span> @(Model.IsCompleted ? "Done" : "Pending")</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="button-wrap">
    <button type="submit" class="del-btn"><i class="fas fa-trash-alt"></i> Delete</button>
    <button type="button" class="cancel-btn" onclick="window.location.href='@Url.Action("Index", "Home")'"> <i class="fas fa-times"></i>Cancel</button>
    @* <a asp-action="Index" asp-controller="Home" class="cancel-btn">Cancel</a> *@
    </div>
</form>

</div>
</div>